*,
*::before,
*::after
  box-sizing: border-box

/* Internet Explorer 9, Firefox, Opera, Chrome 以及 Safari 支持的标签 */
html, body, div, span,
h1, h2, h3, h4, h5, h6, p, small, strong, sub, sup, i,
ol, ul, li,
a, img, input, button,
select, optgroup, textarea,
table, caption, tbody, tfoot, thead, tr, th, td,
form, fieldset, label, legend,
canvas, audio, video,
header, main, footer, section, nav
  margin: 0
  padding: 0
  font-size: 100%
  font-weight: normal
  vertical-align: baseline
  border: 0

html,
body
  line-height: 1
  user-select: none
  background: #fff
  color: #000
  -webkit-text-size-adjust: 100%
  -webkit-tap-highlight-color: transparent

/* HTML5 display-role reset for older browsers */
header, main, footer, section, nav
  display: block

small
  font-size: 80%

sub,
sup
  position: relative
  font-size: 75%
  line-height: 0

sub
  bottom: -0.25em

sup
  top: -0.5em

strong
  font-weight: bolder

img
  border-style: none

table
  border-collapse: collapse
  border-spacing: 0

a
  color: #7e8c8d
  background-color: transparent
  -webkit-backface-visibility: hidden

button,
input
  overflow: visible

button,
select
  text-transform: none

textarea
  overflow: auto

button,
[type="button"],
[type="reset"],
[type="submit"]
  -webkit-appearance: button

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner
  border-style: none

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring
  outline: 1px dotted ButtonText

template
  display: none

[hidden]
  display: none
