
// Prefix
$css-prefix             = ls-
$css-prefix-iconfont    = ls-icon

// Color
$primary-color          = #2d8cf0
$danger-color           = #ed4014
$success-color          = #19be6b
$warning-color          = #ff9900
$info-color             = #2db7f5
$dark                   = #000
$light                  = #fff

// Text
$main-text-color         = #333
$normal-text-color       = #666
$secondary-text-color    = #999
$placeholder-text-color  = #ccc

$title-color             =#000
$subtitle-color          =#808695

// Font
$font-size-small        = 12px
$font-size-base         = 14px
$font-size-large        = 16px
$font-size-large-xs     = 18px
$font-size-large-sm     = 20px
$font-size-large-md     = 24px
$font-size-large-lg     = 28px

$font-weight-base       = 400

// Link
$link-color             = $primary-color
$link-hover-color       = tint($link-color, 20%)
$link-active-color      = shade($link-color, 5%)

// Button / Input border
$border-color-base      = $text-color   // outside
$border-color-split     = #e8eaec     // inside
$border-width-base      = 1px
$border-style-base      = solid

// Border radius
$border-radius-small    = 4px
$border-radius-base     = 6px
$border-radius-large    = 8px
